<div class="row">
	<% @posts.each do |post| %>
	<div class="title col-md-12"><%= post.title %></div>
	<div class="text col-md-12"><%= post.text %></div>
	<div class="image col-md-12"><%= image_tag post.image.url(:large) if post.image.exists? %></div>
	<% post.comments.each do |comment| %>
	<div class="comment col-md-12"><i><%= comment.user.username %> said </i> <%= comment.text %></div>
	<% end %>
	<div class="row">
		<% if current_user.id == post.user.id %>
		<div class="col-md-4"><%= link_to "Delete", post_path(post), class: "btn btn-primary btn-md", method: :delete %></div>
		<div class="col-md-4"><%= link_to "Edit", edit_post_path(post), class: "btn btn-primary btn-md" %></div>
		<% end %>
		<div class="col-md-4"><%= link_to "Comment", new_post_comment_path(post.id), class: "btn btn-primary btn-md" %></div>
	</div>
	<% end if @posts %>  
</div>


